
<article class="article">
    <div class="container">
        <div class="row">
           <div class="col-xs-12 col-sm-12 col-md-12    col-lg 6">
             <img src="assets/img/benedeto.jpg" alt="benedeto" width="100%" height="315">
             <br>
             <br>
             <p>Le 10 décembre, Marcelo était visé par un supporter et une banderole dénigrante après OL - RB Leipzig, match nul (2-2) qui avait pourtant qualifié les Rhodaniens pour les 8es de finale de la Ligue des Champions. Un épisode particulièrement difficile à digérer pour le Brésilien. Près de trois mois après, le défenseur lyonnais a annoncé dans un entretien pour le Parisien qu’il avait eu envie de quitter le club après cela.</p>
              <P>L’Olympique de Marseille a réussi un joli coup en s’imposant (2-1) à Lille. Buteur ce soir, Dario Benedetto n’a cependant pas tiré le penalty accordé à l’OM suite à une faute de Djalo sur Bouna Sarr. Le 10 décembre, Marcelo était visé par un supporter et une banderole dénigrante après OL - RB Leipzig, match nul (2-2) qui avait pourtant qualifié les Rhodaniens pour les 8es de finale de la Ligue des Champions. Un épisode particulièrement difficile à digérer pour le Brésilien. Près de trois mois après, le défenseur lyonnais a annoncé dans un entretien pour le Parisien qu’il avait eu envie de quitter le club après cela</P>
        </div>
        <div class="col-xs-12 col-sm-12 col-md--    col-lg 6">     
              <P>L’Olympique de Marseille a réussi un joli coup en s’imposant (2-1) à Lille. Buteur ce soir, Dario Benedetto n’a cependant pas tiré le penalty accordé à l’OM suite à une faute de Djalo sur Bouna Sarr. </P>
             <p>C’est une demi-finale de Coupe de France alléchante qui s’annonce entre l’Olympique Lyonnais et le Paris Saint-Germain ce mercredi soir au Groupama Stadium (match à suivre en direct commenté sur notre site.Dans les buts, Anthony Lopes devrait être titularisé, avec un trio Denayer-Marcelo-Andersen. Le Danois ferait son retour, d’autant que Marçal a eu un souci musculaire. Sur les côtés, Rafael est pressenti à droite pour reposer Dubois, qui a enchaîné les matches depuis son retour de blessure, et Cornet pourrait, lui, revenir arpenter le couloir gauche. Au milieu se pose la question d’une nouvelle titularisation de Bruno Guimarães, déjà indispensable, mais qui aura peut-être besoin de souffler. Dans ce cas, le jeune Caqueret prendrait le relais, avec Tousart et Aouar à ses côtés</p> 
             <img src="assets/img/Aouar.jpg" width="100%"height="315" alt="Aouar">
              <p>l'olympique lyonnais a encore concedé un nul face à Angers
              laissant ainsi des points à la course à la troisiémé place,synonyme de qualification à l'uefa champion's league.
               Pour plus d'information rendez -vous sur:<a href="http://www.footmercato.  net">footmercato</a></p>
            </div> 
         </div>
      </div>        
</article>
     <!-- <!-econre un container avec se <div>-  --> 
<article>
     <div class="container">
      <div class="row">
       <div class="col-xs-12 col-sm-12 col-md-12 col-lg 6">
                <img src="assets/img/Remy.jpg" width="100%" height ="315" alt=" Remy">
               <p>Ainsi, Valentin Rongier a tenté sa chance mais a buté sur un Mike Maignan bien inspiré sur ce coup. Interrogé sur le sujet sur Canal Plus, l’attaquant argentin a expliqué pourquoi il n’avait pas tiré le penalty.</p> 
      </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg 4">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/QBupVfJAopo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </div>
        </div>
   </div>
</article>
<br>
    
    